@page
@model AdminPanel.EndPoint.Pages.Users.Person.CreateModel
@{
	var message = TempData["message"] as string;
}

<main class="ttr-wrapper">
	<div class="container-fluid">
		<div class="db-breadcrumb">
			<ul class="db-breadcrumb-list">
				<li><a href="#"><i class="fa fa-home"></i>صفحه اصلی</a></li>
				<li>مدیریت کاربران</li>
				<li>شخص</li>
			</ul>
		</div>
		<div class="row">
			<!-- Your Profile Views Chart -->
			<div class="col-lg-12 m-b30">
				<div class="widget-box">
					<div class="wc-title">
						<h4>افزودن شخص جدید</h4>
					</div>
					<div class="widget-inner">

						<div class="row">
							<div class="search-box-container card">
								<div class="card-body">
                                    <form id="personForm" asp-antiforgery="true" method="post" enctype="multipart/form-data" class="edit-profile m-b30">
                                        @if (!string.IsNullOrWhiteSpace(message))
                                        {
                                            if (message.Contains("شناسه"))
                                            {
                                                <div class="col-4" style="background-color: rgba(45, 255, 0, 0.64); padding: 10px; border-radius: 10px;">
                                                    <h6 id="text" style="color: white;"><i class="ti-alert"></i> @TempData["message"]</h6>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-4" style="background-color: rgba(245, 0, 0, 0.64); padding: 10px; border-radius: 10px;">
                                                    <h6 id="text" style="color: white;"><i class="ti-alert"></i> @TempData["message"]</h6>
                                                </div>
                                            }
                                        }
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="ml-auto">
                                                    <h3>1. مشخصات کلی</h3>
                                                </div>
                                            </div>
                                            <div class="form-group col-4">
                                                <label class="col-form-label">نام</label>
                                                <div>
                                                    <input id="firstname" asp-for="Person.FirstName" class="form-control" type="text" placeholder="فرزاد">
                                                    <span class="text-danger" id="firstname-error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-4">
                                                <label class="col-form-label">نام خانوادگی</label>
                                                <div>
                                                    <input id="lastname" asp-for="Person.LastName" class="form-control" type="text" placeholder="امیری">
                                                    <span class="text-danger" id="lastname-error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-4">
                                                <label class="col-form-label">شماره تلفن</label>
                                                <div>
                                                    <input id="phonenumber" asp-for="Person.PhoneNumber" class="form-control" type="number" placeholder="0915....">
                                                    <span class="text-danger" id="phonenumber-error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-4">
                                                <label class="col-form-label">پست الکترونیک</label>
                                                <div>
                                                    <input id="email" asp-for="Person.Email" class="form-control" type="email" placeholder="example@gmail.com">
                                                    <span class="text-danger" id="email-error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-4">
                                                <label class="col-form-label">کلمه عبور</label>
                                                <div>
                                                    <input id="password" asp-for="Person.Password" class="form-control" type="password">
                                                    <span class="text-danger" id="password-error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-4">
                                                <label class="col-form-label">عکس پروفایل</label>
                                                <div>
                                                    <input id="person-profile" asp-for="Image" class="form-control" accept="Image/*" type="file">
                                                    <span class="text-danger" id="image-error"></span>
                                                </div>
                                            </div>

                                            <div class="seperator"></div>
                                        </div>
                                        <button id="addnew" type="button" onclick="addPersonValidation()" class="btn btn-success add-course">افزودن شخص جدید</button>
                                    </form>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- Your Profile Views Chart END-->
		</div>
	</div>
</main>
<div class="ttr-overlay"></div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
	<script src="~/js/person.js"></script>
}
