@page
@model AdminPanel.EndPoint.Pages.Users.Teacher.CreateModel
@{
}

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>صفحه اصلی</a></li>
                <li>مدیریت کاربران</li>
                <li>مدرس</li>
            </ul>
        </div>
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>افزودن مدرس</h4>
                    </div>
                    <div class="widget-inner">

                        <div class="row">
                            <div class="search-box-container card">
                                <div class="card-header">
                                    <h5>مشخصات شخص مورد نظر</h5>
                                </div>
                                <form asp-page-handler="FindPerson" class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="col-form-label cname">پست الکترونیک شخص: </label>
                                            <div class="d-flex">
                                                <input class="form-control" asp-for="EmailAddress" type="email" placeholder="example@gmail.com">
                                                <button class="btn btn-success" type="submit"><i class="ti-search"></i> بازیابی شخص</button>
                                            </div>
                                        </div>
                                        @if (!string.IsNullOrWhiteSpace(Model.FullName))
                                        {
                                            <div class="col-6">
                                                <label class="col-form-label cname">نام شخص</label>
                                                <input class="form-control" type="text" value="@Model.FullName" disabled>
                                            </div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.result.Message))
                                        {
                                            if (Model.result.isSuccess)
                                            {
                                                <div class="col-12">
                                                    <h6 id="text" style="color: rgba(45, 255, 0, 1); margin : 10px;padding:5px;"><i class="fa fa-check-square"></i> @Model.result.Message</h6>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-12">
                                                    <h6 id="text" style="color: rgba(245, 0, 0, 0.64); margin : 10px; padding:5px;"><i class="ti-alert"></i> @Model.result.Message</h6>
                                                </div>
                                            }
                                        }
                                    </div>

                                </form>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(Model.FullName))
                            {
                                <div class="search-box-container card">
                                    <div class="card-body">
                                        <form class="edit-profile m-b30" asp-page-handler="AddTeacher">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <h3>مشخصات مدرس</h3>
                                                    <input type="hidden" asp-for="PersonId" value="@Model.PersonId" />
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="form-group col-12">
                                                    <label class="col-form-label">نوشتن متن رزومه مدرس</label>
                                                    <div>
                                                        <textarea id="Description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="addnew" class="btn btn-warning add-course" type="submit">افزودن مدرس</button>
                                        </form>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>
<div class="ttr-overlay"></div>

@section Scripts {
    
    <script src="~/js/CKE.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'), {
            toolbar: {
                items: [
                    'undo', 'redo',
                    '|',
                    'heading',
                    '|',
                    'fontfamily', 'fontsize', 'fontColor', 'fontBackgroundColor',
                    '|',
                    'bold', 'italic', 'strikethrough', 'subscript', 'superscript', 'code',
                    '|',
                    'link', 'uploadImage', 'blockQuote', 'codeBlock',
                    '|',
                    'bulletedList', 'numberedList', 'todoList', 'outdent', 'indent'
                ],
                shouldNotGroupWhenFull: false
            },
            language: 'fa'
        })
            .then(editor => { console.log(editor); })
            .catch(error => { console.error(error); });

    </script>

    }

    
   