
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- OG -->
	<meta name="keywords" content="Web Design, Education, Institute, Study" />
	<meta name="author" content="ThemeTrades" />
	<meta name="description"
		content="EduChamp is a Fully Creative Mobile Responsive HTML Template. It is designed specifically for University, College, School, Training centre or other educational institute." />

	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="~/assets/images/loading.png" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="~/assets/images/logo-white.png" />

	<!-- PAGE TITLE HERE ============================================= -->
	<title>سامانه آموزش مجازی | freelearn</title>

	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->

	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/assets.css">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/typography.css">

	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/shortcodes/shortcodes.css">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
	<link class="skin" rel="stylesheet" type="text/css" href="~/assets/css/color/color.css">

</head>
<body id="bg">
	<div class="page-wraper">
		<div id="loading-icon-bx"></div>
		<div class="account-form">
			<div class="account-head" style="background-image:url(~/assets/images/background/bg1.jpg);">
				<a href="index.html"><img style="width: 50%;" src="~/assets/images/logo-white.png" alt=""></a>
			</div>
			<div class="account-form-inner">
				<div class="account-container">
					<div class="heading-bx left">
						<h2 class="title-head">ورود به  <span> اکانت دانشجو </span></h2>
						<p>اکانت ندارید? <a href="/account/register"> همین حالا بسازید </a></p>
					</div>
					<form class="contact-bx">
						<div class="row placeani">
							<div class="col-lg-12">
								<div class="form-group">
									<div class="input-group">
										<label>ایمیل</label>
										<input name="email" type="email" required="" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<div class="input-group">
										<label>رمزعبور</label>
										<input name="email" type="password" class="form-control" required="">
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group form-forget">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
										<label class="custom-control-label" for="customControlAutosizing">مرا به خاطر بسپار</label>
									</div>
									<a href="forget-password.html" class="ml-auto">فراموشی رمزعبور؟</a>
								</div>
							</div>
							<div class="col-lg-12 m-b30">
								<button name="submit" type="submit" value="Submit" class="btn button-md">ورود</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- External JavaScripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/vendors/bootstrap/js/popper.min.js"></script>
	<script src="~/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="~/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
	<script src="~/assets/vendors/magnific-popup/magnific-popup.js"></script>
	<script src="~/assets/vendors/counter/waypoints-min.js"></script>
	<script src="~/assets/vendors/counter/counterup.min.js"></script>
	<script src="~/assets/vendors/imagesloaded/imagesloaded.js"></script>
	<script src="~/assets/vendors/masonry/masonry.js"></script>
	<script src="~/assets/vendors/masonry/filter.js"></script>
	<script src="~/assets/vendors/owl-carousel/owl.carousel.js"></script>
	<script src="~/assets/js/functions.js"></script>
	<script src="~/assets/js/contact.js"></script>
	<script src='~/assets/vendors/switcher/switcher.js'></script>
</body>
</html>